.nimbus {
    max-width: 100%;
    height: fit-content;
    padding-bottom: 100px;
    background-color: var(--c11);
  }
  
  .nimbus-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 28px 0 28px;
    padding-top: 70px;
  }
  
  .nimbus-container h1 {
    font-size: 64px;
    color: var(--w);
  }
  
  .nimbus-container span {
    font-size: 24px;
    color: var(--c5);
  }
  
  .nimbus-container span:last-child {
    color: var(--p1);
    font-size: 64px;
  }
  
  .nimbus-fotos {
    display: grid;
    height: fit-content;
    gap: 20px;
    grid-template:
      "A A"
      "B C";
  }
  
  .nimbus-fotos img {
    border-radius: 6px;
    width: 100%;
  }
  
  .nimbus-fotos img:first-child {
    grid-area: A;
  }
  
  .nimbus-bicicletas-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  .comprar-agora {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
  }
  
  .comprar-agora a {
    padding: 16px 32px 16px 32px;
    color: var(--p5);
    background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    display: block;
    text-align: center;
    width: 160px;
    cursor: pointer;
  }
  
  .comprar-agora a:hover {
    background: linear-gradient(180deg, #ffbf00 0%, #d28c00 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .nimbus-descriscao {
    font-size: 24px;
    color: var(--c5);
  }
  
  .texto-entrega p {
    margin: 5px;
    padding: 5px 10px 3px 10px;
    width: fit-content;
    font-size: 12px;
    color: var(--c6);
    background-color: var(--c12);
  }
  
  .bicicleta-vantagens {
    background-color: var(--c12);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  
  .texto-titulo {
    font-size: 12px;
    color: var(--w);
    padding: 35px 0 20px 0;
  }
  
  .bicicleta-vantagens {
    padding: 32px;
  }
  
  .bicicleta-vantagens p {
    font-size: 14px;
    color: var(--c5);
  }
  
  .bicicleta-vantagens h2 {
    font-size: 19px;
    color: var(--w);
  }
  .nimbus-texto p:first-child {
    font-size: 24px;
    color: var(--c5);
  }
  
  .bicicleta-ficha {
    background-color: var(--c12);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
  }
  
  .dimensoes p {
    color: var(--c4);
    padding: 10px 0 10px 0;
    border-bottom: solid 1px var(--c11);
  }
  
  .dimensoes-numeros p {
    color: var(--c4);
    text-align: right;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px var(--c11);
  }
  
  .nimbus-bicicletas-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 28px 0 28px;
    padding-top: 70px;
  }
  
  .nimbus-bicicletas-container h1 {
    font-size: 64px;
    color: var(--c12);
  }
  
  .nimbus-bicicletas-container span {
    font-size: 24px;
    color: var(--c5);
  }
  
  .nimbus-bicicletas-container span:last-child {
    color: var(--p1);
    font-size: 64px;
  }
  
  .bicicletas-display {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 50px;
  }
  
  .bicicletas-display img {
    border-radius: 5px;
  }
  .bicicletas-modelos-display h2::before {
    content: " ";
    width: 12px;
    height: 8px;
    margin-right: 15px;
    display: inline-block;
    background-color: var(--p1);
    transition: width 0.2s;
  }
  
  .bicicletas-modelos-display a:hover h2::before {
    width: 60px;
  }
  
  .bicicletas-modelos-display p {
    padding-left: 30px;
    padding-bottom: 50px;
  }
  
  @media (max-width: 870px) {
    .nimbus-bicicletas-info {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  
  @media (max-width: 520px) {
    .nimbus-bicicletas-container h1 {
      font-size: 50px;
      line-height: 50px;
      color: var(--c12);
    }
    .bicicletas-display {
      flex-direction: column;
      gap: 0px;
    }
  
    .bicicleta-vantagens {
      grid-template-columns: 1fr;
    }
  
    .comprar-agora {
      grid-template-columns: 1fr;
    }
  }
  