.bikes-bg {
  max-width: 100%;
  height: fit-content;
  padding-bottom: 100px;
  background-color: var(--c11);
}

.bikes-bg-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 28px 0 28px;
  padding-top: 70px;
}

.bikes-bg-container h1 {
  font-size: 64px;
  color: var(--w);
}

.bikes-bg-container span {
  font-size: 24px;
  color: var(--c5);
}

.bikes-bg-container span:last-child {
  color: var(--p1);
  font-size: 64px;
}

.bikes-fotos {
  display: grid;
  height: fit-content;
  gap: 20px;
  grid-template:
    "A A"
    "B C";
}

.bikes-fotos img {
  border-radius: 6px;
  width: 100%;
}

.bikes-fotos img:first-child {
  grid-area: A;
}

.bikes-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.container-comprar-agora {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.container-comprar-agora a {
  padding: 16px 32px 16px 32px;
  color: var(--p5);
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  display: block;
  text-align: center;
  width: 160px;
  cursor: pointer;
}

.container-comprar-agora a:hover {
  background: linear-gradient(180deg, #ffbf00 0%, #d28c00 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.bikes-descriscao {
  font-size: 20px;
  color: var(--c5);
}

.entrega-estoque p {
  margin: 5px;
  padding: 5px 10px 3px 10px;
  width: fit-content;
  font-size: 12px;
  color: var(--c6);
  background-color: var(--c12);
}

.bikes-features {
  background-color: var(--c12);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bikes-subtitulo {
  font-size: 12px;
  color: var(--w);
  padding: 35px 0 20px 0;
}

.bikes-features {
  padding: 32px;
}

.bikes-features p {
  font-size: 14px;
  color: var(--c5);
}

.bikes-features h2 {
  font-size: 19px;
  color: var(--w);
}
.nimbus-texto p:first-child {
  font-size: 24px;
  color: var(--c5);
}

.bikes-ficha {
  background-color: var(--c12);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
}

.ficha-esquerda p {
  color: var(--c4);
  padding: 10px 0 10px 0;
  border-bottom: solid 1px var(--c11);
}

.ficha-direita p {
  color: var(--c4);
  text-align: right;
  padding: 10px 0 10px 0;
  border-bottom: solid 1px var(--c11);
}

.nimbus-bicicletas-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 28px 0 28px;
  padding-top: 70px;
}

.nimbus-bicicletas-container h1 {
  font-size: 64px;
  color: var(--c12);
}

.nimbus-bicicletas-container span {
  font-size: 24px;
  color: var(--c5);
}

.nimbus-bicicletas-container span:last-child {
  color: var(--p1);
  font-size: 64px;
}

.bicicletas-display {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 50px;
}

.bicicletas-display img {
  border-radius: 5px;
}
.bicicletas-modelos-display h2::before {
  content: " ";
  width: 12px;
  height: 8px;
  margin-right: 15px;
  display: inline-block;
  background-color: var(--p1);
  transition: width 0.2s;
}

.bicicletas-modelos-display a:hover h2::before {
  width: 60px;
}

.bicicletas-modelos-display p {
  padding-left: 30px;
  padding-bottom: 50px;
}

.bicicletas-seguros-bg {
  background-color: var(--c11);
}

.bicicletas-seguros-container {
  display: flex;
  max-width: 1240px;
  margin: 120px auto 0;
  padding: 0 28px 0 28px;
  color: var(--w);
  justify-content: space-between;
}

.bicicletas-seguros-container picture {
  margin: -80px 0 -80px 0;
}

.bicicletas-seguros-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.bicicletas-seguros-texto {
  align-self: center;
  padding: 40px;
  max-width: 550px;
}

.bicicletas-seguros-texto h1 {
  font-size: 64px;
  line-height: 72px;
}

.bicicletas-seguros-texto h1 span {
  color: var(--p1);
}

.bicicletas-seguros-texto p {
  padding-top: 32px;
  font-family: var(--f1);
  font-size: 24px;
  line-height: 36px;
}

.bicicletas-seguros-texto a {
  margin-top: 20px;
  padding: 16px 32px 16px 32px;
  color: var(--p5);
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: center;
  width: 160px;
  cursor: pointer;
}

.bicicletas-seguros-texto a:hover {
  background: linear-gradient(180deg, #ffbf00 0%, #d28c00 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.seguros-bg-footer {
  height: 80px;
  background-color: var(--c12);
}

@media (max-width: 870px) {
  .bikes-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .bicicletas-seguros-container {
    flex-direction: column;
  }

  .bicicletas-seguros-container picture {
    margin: -80px 0 0px 0;
  }

  .seguros-bg-footer {
    display: none;
  }
  


}

@media (max-width: 520px) {
  .bikes-bg-container h1 {
    font-size: 50px;
    line-height: 50px;
    color: var(--w);
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .bicicletas-display {
    flex-direction: column;
    gap: 0px;
  }

  .bikes-features {
    grid-template-columns: 1fr;
  }

  .container-comprar-agora {
    grid-template-columns: 1fr;
  }

  .bicicletas-seguros-texto h1 {
    font-size: 35px;
    line-height:45px;
  }

  .bicicletas-seguros-texto p {
    font-size: 20px;
    line-height: 30px;
  }
}
