@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Estilos CSS */

/* Reset CSS */

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: var(--f2);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c12);
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

:root {
  /* Cores */

  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;

  /* Cores */

  --f1: "Roboto", sans-serif;
  --f2: "Poppins", sans-serif;
}

/* ****************************************************************************** */

/************************************* Header *************************************/

header {
  background-color: var(--c12);
  height: 89px;
}

header a {
  color: var(--c1);
}

header a:hover {
  color: var(--p1);
}

header ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  cursor: pointer;
}

.header-menu {
  padding: 0 20px 0 20px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Responsivo 600px */

@media (max-width: 600px) {
  .header-menu li {
    display: none;
    padding: 20px 20px 0 0px;
  }

  .header-menu img {
    padding: 28px;
  }
}
