@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Estilos CSS */

/* Reset CSS */

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: var(--f2);
  height: 5000px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c12);
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

:root {
  /* Cores */

  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;

  /* Cores */

  --f1: "Roboto", sans-serif;
  --f2: "Poppins", sans-serif;
}

/* ****************************************************************************** */

/************************************* Header *************************************/

header {
  background-color: var(--c12);
  height: 96px;
  padding: 0 28px 0 28px;
}

header a {
  color: var(--c1);
  font-size: 18px;
  display: block;
}

header a:hover {
  color: var(--p1);
}

header ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  cursor: pointer;
}

.header-menu {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 96px;
  align-items: center;
}

menu img {
  display: none;
}

/* Responsivo 1200px */

@media (max-width: 1200px) {
  menu img {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    cursor: pointer;
  }
  .header-menu li {
    display: none;
  }
}

/* Responsivo 700px */

@media (max-width: 700px) {
  .header-menu li {
    display: none;
  }
}

/************************************* Section - Introdução *************************************/

.section-introducao {
  background-color: var(--c12);
}

.introducao {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  padding: 0 28px 0 28px;
  justify-content: space-between;
}

.introducao-img {
  margin-bottom: -120px;
}

.introducao-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.introducao h1 {
  color: var(--w);
  font-weight: 600, Semi Bold;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 32px;
}

.introducao span {
  color: var(--p1);
}

.introducao p {
  color: var(--c5);
  font-weight: 400, Semi Bold;
  font-size: 24px;
  line-height: 36px;
}

.introducao-container {
  max-width: 510px;
  margin-top: 80px;
}

.introducao-botao {
  margin-top: 20px;
  padding: 16px 32px 16px 32px;
  color: var(--p5);
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: center;
  width: 160px;
  cursor: pointer;
}

.introducao-botao:hover {
  background: linear-gradient(180deg, #ffbf00 0%, #d28c00 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.introducao-bg {
  background-color: var(--w);
  height: 120px;
}

/* Responsivo 1200px */

@media (max-width: 1200px) {
  .introducao-container {
    max-width: 350px;
    margin-top: 80px;
    padding-right: 30px;
  }

  .introducao h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .introducao p {
    font-size: 16px;
    line-height: 30px;
  }

  .introducao-botao {
    margin-bottom: 80px;
  }
}

/* Responsivo 700px */

@media (max-width: 700px) {
  .introducao {
    display: flex;
    flex-direction: column;
  }
}

/************************************* Section - Bicicletas *************************************/

.section-bicicletas {
  max-width: 1240px;
  margin: 120px auto 0;
  padding: 0 28px 0 28px;
}

.section-bicicletas h1 {
  font-size: 64px;
  padding-bottom: 40px;
  color: var(--c11);
}

.section-bicicletas h2 {
  font-size: 32px;
  padding: 16px 0 8px 0;
  color: var(--c11);
  padding-left: 20px;
  line-height: 40px;
}

.section-bicicletas p {
  font-family: var(--f1);
  font-size: 18px;
  padding-left: 20px;
  color: var(--c8);
}

.section-bicicletas span {
  color: var(--p1);
}

.bicicletas-container {
  display: flex;
  gap: 40px;
}

.bicicletas-modelos img {
  border-radius: 5px;
}

.bicicletas-modelos h2::before {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  margin-top: 15px;
  margin-left: -20px;
  background-color: var(--p1);
}

/* Responsivo 700px */

@media (max-width: 700px) {
  .section-bicicletas {
    margin: 40px auto 0;
  }

  .section-bicicletas h1 {
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--c11);
  }

  .bicicletas-container {
    gap: 10px;
  }

  .section-bicicletas h2 {
    font-size: 15px;
    padding: 15px 0 0 0;
    line-height: 20px;
  }

  .section-bicicletas p {
    font-family: var(--f1);
    font-size: 12px;
    padding: 5px 0 0 0;
    color: var(--c8);
  }

  .bicicletas-modelos h2::before {
    content: "";
    width: 12px;
    height: 2px;
    margin-top: -10px;
    margin-left: 0px;
    position: absolute;
    background-color: var(--p1);
  }
}

/************************************* Section - Tecnologia *************************************/

.section-tecnologia {
  background-color: var(--c11);
}

.tecnologia-container {
  display: flex;
  max-width: 1240px;
  margin: 120px auto 0;
  padding: 0 28px 0 28px;
  color: var(--w);
  justify-content: space-between;
}

.tecnologia-container picture {
  margin: -80px 0 -80px 0;
}

.tecnologia-container picture:last-child {
  display: none;
}

.tecnologia-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.tecnologia-container h4 {
  font-family: var(--f1);
  color: var(--c5);
  font-size: 24px;
  font-weight: 500;
}

.tecnologia-container span {
  color: var(--p1);
}

.tecnologia-container h1 {
  font-size: 64px;
  line-height: 72px;
  margin: 20px 0 32px 0;
}

.tecnologia-container p {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 20px 0;
  color: var(--c5);
}

.tecnologia-container a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: var(--p1);
  text-decoration: underline 4px;
  text-underline-offset: 10px;
}

.tecnologia-container-texto {
  max-width: 600px;
  padding: 80px 40px 0 0;
}

.tecnologia-container-specs {
  display: flex;
  gap: 60px;
  padding: 112px 0 90px 0;
}

.tecnologia-container-specs h2 {
  color: var(--w);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 8px;
}

.tecnologia-container-specs p {
  color: var(--c5);
  font-size: 16px;
  line-height: 24px;
}

.motor-eletrico h2::before {
  content: "";
  background-image: url(assets/eletrica.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -30px;
}

.rastreador h2::before {
  content: "";
  background-image: url(assets/rastreador.svg);
  margin-top: -30px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.tecnologia-bg {
  height: 80px;
  background-color: var(--w);
}

@media (max-width: 700px) {
  .tecnologia-container {
    margin: 40px auto 0;
    flex-direction: column;
    margin: 40px auto 0;
  }
  .tecnologia-container h4 {
    font-size: 18px;
  }

  .tecnologia-container a {
    font-size: 18px;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
  }

  .tecnologia-container-texto h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .tecnologia-container p {
    font-size: 16px;
    line-height: 25px;
  }

  .tecnologia-container-specs {
    display: flex;
    flex-direction: column;
  }

  .tecnologia-container picture {
    display: none;
  }

  .tecnologia-container picture:last-child {
    display: block;
    margin: -80px 0 -60px 0;
  }

  .tecnologia-bg {
    height: 53px;
    background-color: var(--w);
  }
}

/************************************* Section - Parceiros *************************************/

.parceiros-container {
  max-width: 1240px;
  margin: 120px auto 0;
  padding: 0 28px 0 28px;
}

.parceiros-container h1 {
  font-size: 64px;
  padding-bottom: 40px;
  color: var(--c11);
}

.parceiros-container span {
  color: var(--p1);
}

.parceiros-logos picture {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--c2);
  border-bottom: 2px solid var(--c2);
}

.parceiros-logos img {
  margin: auto;
}

.parceiros-logos {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
}

.parceiros-logos picture:first-child,
.parceiros-logos picture:nth-child(5) {
  border-left: none;
}

.parceiros-logos picture:nth-child(n + 5) {
  border-bottom: none;
}

@media (max-width: 1310px) {
  .parceiros-logos picture:first-child,
  .parceiros-logos picture:nth-child(5) {
    border-left: 2px solid var(--c2);
  }

  .parceiros-logos picture:nth-child(n + 5) {
    border-bottom: 2px solid var(--c2);
  }

  .parceiros-logos picture:first-child,
  .parceiros-logos picture:nth-child(4),
  .parceiros-logos picture:nth-child(7) {
    border-left: none;
  }

  .parceiros-logos picture:nth-child(7),
  .parceiros-logos picture:nth-child(8) {
    border-bottom: none;
  }
}

@media (max-width: 1003px) {
  .parceiros-logos picture:first-child,
  .parceiros-logos picture:nth-child(4),
  .parceiros-logos picture:nth-child(7) {
    border-left: 2px solid var(--c2);
  }

  .parceiros-logos picture:nth-child(7),
  .parceiros-logos picture:nth-child(8) {
    border-bottom: 2px solid var(--c2);
  }

  .parceiros-logos picture:nth-child(odd) {
    border-left: none;
  }

  .parceiros-logos picture:nth-child(7),
  .parceiros-logos picture:nth-child(8) {
    border-bottom: none;
  }
}

@media (max-width: 700px) {
  .parceiros-logos {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 220px);
  }

  .parceiros-logos picture:nth-child(odd) {
    border-left: 2px solid var(--c2);
  }

  .parceiros-logos picture:nth-child(7),
  .parceiros-logos picture:nth-child(8) {
    border-bottom: 2px solid var(--c2);
  }

  .parceiros-logos picture:nth-child(odd) {
    border-left: none;
  }
  .parceiros-logos picture:nth-child(n + 7) {
    border-bottom: none;
  }

  .parceiros-container h1 {
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--c11);
  }

  .parceiros-logos {
    padding-top: 0px;
  }

  .parceiros-container {
    margin: 50px auto 0;
  }

  @media (max-width: 520px) {
    .parceiros-logos {
      grid-template-columns: repeat(auto-fill, 150px);
    }
  }
}

/************************************* Section - Depoimento *************************************/

.section-depoimento {
  display: flex;
  max-width: 100%;
  margin: 50px auto 0;
  background-color: var(--p1);
}

.section-depoimento img {
  height: 100%;
  object-fit: cover;
}

.depoimento-frase {
  align-self: flex-end;
  height: 300px;
  max-width: 550px;
  padding: 50px 50px 50px 100px;
  position: relative;
}

.depoimento-frase h1 {
  font-size: 36px;
  line-height: 48px;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 20px;
}

.depoimento-frase h1::before {
  content: " ";
  position: absolute;
  background-image: url(assets/aspas_top.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  left: 55px;
}

.depoimento-frase h1::after {
  content: " ";
  position: absolute;
  background-image: url(assets/aspas_bottom.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  bottom: 90px;
  left: 610px;
}

@media (max-width: 850px) {
  .section-depoimento {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .depoimento-frase {
    margin: 0 auto;
    height: 300px;
    max-width: 510px;
    padding: 50px;
    position: relative;
  }

  .depoimento-frase h1::before {
    left: 5px;
  }
  .depoimento-frase h1::after {
    bottom: 90px;
    left: 560px;
  }
}

@media (max-width: 650px) {
  .depoimento-frase {
    margin: 0 auto;
    height: 250px;
    max-width: 370px;
    padding: 50px;
    position: relative;
  }

  .depoimento-frase h1 {
    font-size: 26px;
    line-height: 40px;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    padding-bottom: 20px;
  }

  .depoimento-frase h1::before {
    background-size: 33px;
    top: 40px;
    left: 10px;
  }
  .depoimento-frase h1::after {
    background-size: 33px;
    bottom: 75px;
    left: 420px;
  }
}

@media (max-width: 450px) {
  .depoimento-frase {
    margin: 0 auto;
    height: 200px;
    max-width: 320px;
    padding: 50px;
    position: relative;
  }

  .depoimento-frase h1 {
    font-size: 18px;
    line-height: 30px;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    padding-bottom: 20px;
  }

  .depoimento-frase h1::before {
    background-size: 27px;
    top: 45px;
    left: 20px;
  }
  .depoimento-frase h1::after {
    background-size: 27px;
    bottom: 70px;
    left: 305px;
  }
}

@media (max-width: 320px) {
  .depoimento-frase {
    margin: 0 auto;
    height: 170px;
    max-width: 320px;
    padding: 50px;
    position: relative;
  }

  .depoimento-frase h1 {
    font-size: 15px;
    line-height: 25px;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    padding-bottom: 20px;
  }

  .depoimento-frase h1::before {
    background-size: 20px;
    top: 45px;
    left: 25px;
  }
  .depoimento-frase h1::after {
    background-size: 20px;
    bottom: 60px;
    left: 260px;
  }
}

/************************************* Section - Seguros *************************************/

.section-seguros {
  background-color: var(--c11);
  max-width: 100%;
}

.seguros-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 70px 35px 100px 35px;
}

.container-prata-ouro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.seguros-container h1 {
  font-size: 64px;
  padding-bottom: 40px;
  color: var(--w);
}

.seguros-container span {
  color: var(--p1);
}

.seguros-container ul {
  padding: 0;
}

.seguros-box {
  color: white;
  background-color: var(--c12);
  display: flex;
  border-radius: 5px;
  gap: 140px;
  padding: 40px 40px 40px 70px;
}

.seguros-box h2 {
  color: var(--c5);
  font-size: 36px;
}

.seguros-box li {
  color: var(--w);
  line-height: 55px;
  font-size: 18px;
  font-family: var(--f1);
  position: relative;
}
.seguros-box li::before {
  content: "";
  background-image: url(assets/lista.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  position: absolute;
  top: 25px;
  left: -25px;
}

.seguros-box a {
  color: var(--c4);
  margin-top: 20px;
  padding: 16px 32px 16px 32px;
  background-color: var(--c10);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: center;
  width: 160px;
  cursor: pointer;
}

.seguros-container-direita p {
  font-size: 12px;
  text-align: right;
  margin-top: -10px;
  color: var(--c6);
}

.seguros-container-direita h2 {
  color: var(--w);
}

.texto-ouro h2 {
  color: var(--p1);
  font-size: 36px;
}

.texto-ouro a {
  color: var(--p5);
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}

.texto-ouro a:hover {
  background: linear-gradient(180deg, #ffbf00 0%, #d28c00 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 690px) {
  .seguros-box {
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .seguros-box {
    padding: 25px 25px 25px 50px;
  }

  .seguros-box {
    margin: 0 auto;
    gap: 0px;
  }

  .seguros-box h2 {
    color: var(--c5);
    font-size: 25px;
    line-height: 25px;
  }

  .seguros-box li {
    color: var(--w);
    line-height: 35px;
    font-size: 13px;
    font-family: var(--f1);
    position: relative;
  }

  .seguros-container-direita p {
    margin-top: -2px;
  }

  .seguros-box li::before {
    background-size: 10px;
    position: absolute;
    top: 15px;
    left: -20px;
  }

  .seguros-box a {
    font-size: 15px;
    padding: 14px 0px 14px 0;
  }
}
