.seguros {
  max-width: 100%;
  height: 200px;
  background-color: var(--c11);
}

.seguros-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 28px 0 28px;
  padding-top: 70px;
}

.seguros-container h1 {
  font-size: 64px;
  color: var(--w);
}

.seguros-container span {
  font-size: 24px;
  color: var(--c5);
}

.seguros-container span:last-child {
  color: var(--p1);
  font-size: 64px;
}

.seguro-vantagens {
  background-color: var(--c12);
  max-width: 100%;
  height: fit-content;
}

.seguros-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 70px 35px 100px 35px;
}

.seguros-texto-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.seguros-container p {
  color: var(--c6);
}

.seguros-container h2 {
  color: var(--w);
}

.seguros-perguntas {
  max-width: 100%;
  height: fit-content;
}

.seguros-container-perguntas h1 {
  font-size: 64px;
  color: var(--c12);
}

.seguros-container-perguntas dt {
  background-color: var(--c1);
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.seguros-container-perguntas dt::before {
  content: " ";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  margin-right: 10px;
}

.seguros-container-perguntas dt::after {
  content: " ";
  background-image: url(../../assets/arrow.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
}

.seguros-container-perguntas dd {
  margin: 0;
  max-width: 80ch;
  padding: 20px 20px 20px 45px;
  border-radius: 5px;
}

@media (max-width: 720px) {
  .seguros-texto-container {
    grid-template-columns: 1fr;
  }

  .seguro-vantagens {
    height: fit-content;
  }

  .seguros-container span {
    font-size: 16px;
  }

  .seguros-container h1 {
    font-size: 44px;
    line-height: 48px;
    color: var(--w);
  }

  .seguros-container span:last-child {
    font-size: 44px;
  }

  .seguros-container-perguntas h1 {
    color: var(--c12);
    line-height: 60px;
  }
}
