.orcamento-bg {
  background-color: var(--c11);
  height: 300px;
}
.orcamento-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 28px 0 28px;
  display: grid;
  grid-template-columns: max-content 2fr;
  height: 800px;
}

.orcamento-container-preto {
  background-color: rgb(139, 139, 139);
  width: 100%;
  padding: 60px;
}

.orcamento-container-preto {
  box-sizing: border-box;
}

.orcamento-container-preto h2 {
  font-size: 12px;
}

.orcamento-container-branco {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.orcamento-bg-footer {
  background-color: var(--c1);
  height: 600px;
}

.form-btn-bikecraft,
.form-btn-seguro {
  margin: 20px 10px 20px 0;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  background-color: var(--c7);
  width: 160px;
  height: 48px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  color: var(--w);
}

.form-btn-nimbus {
    color: var(--w);
  /* margin: 20px 10px 20px 0; */
  font-size: 16px;
  font-weight: 600;
  background-color: var(--c7);
  display: block;
  height: 48px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.display-magic{
    display: none;
}

.display-nimbus img {
    width: 200px;
  } 
.display-nimbus {
    padding: 15px;
  display: none;
}


#bikecraft:checked ~ .form-btn-bikecraft,
#seguro:checked ~ .form-btn-seguro {
  background-color: var(--w);
  color: var(--c11);
}

#nimbus:checked  ~ .display-nimbus {
    display: flex;
    background-color: var(--w);
  color: var(--c11);

}

#magic:checked  ~ .display-magic {
    display: flex;
    background-color: var(--w);
  color: var(--c11);

}

.orcamento-container-preto input {
  opacity: 0;
  position: absolute;

}

